@import 'variable.scss';

.Posts {
  font-size: 18px;

  input[type=text] {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: white;
    background-position: 5px 5px;
    background-size: 30px, 30px;
    background-repeat: no-repeat;
    padding: 12px 16px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  ul {
    justify-content: center;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    border: 1px solid #ddd;
    margin: 3px;
  }

  ul li:hover {
    background-color: $myBlueColor;
  }

  h1 {
    text-align: center;
  }

  form {
    display: inline;
  }

  .center {
    text-align: center;
  }

  #res {
    text-align: center;
  }

  #post_sort {
    margin-right: 5px;
    margin-left: 5px;
  }

  .btn {
    margin-bottom: 20px;
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    background-color: $myBlueColor;
    border: none;
    color: $myWhiteColor;
    padding: 12px 16px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    vertical-align: unset;
  }
  .handlers{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

.pagination {
  display: inline-block;

  button {
    border-radius: 4px;
    color: $myWhiteColor;
    border: none;
    float: left;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background-color: $myBlueColor;
  }

  button:hover {
    background-color: $myLightBlueColor;
    color: $myWhiteColor;
  }

}

.PostsList {
  display: flex;
  flex-wrap: wrap;
}

.navbar-expand .navbar-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

select {
  border: 2px solid #ccc;
  border-radius: 4px;
  color: black;
  text-align: center;
  padding: 12px 16px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  transition: background-color .3s;
}

