@import 'variable.scss';

.Post {
  width: 100%;
  form {
    position: relative;
    padding: 16px;
  }

  button {
    width: 46%;
    background-color: $myBlueColor;
    border: none;
    color: $myWhiteColor;
    padding: 10px 18px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
  }

  button:hover {
    color: $myWhiteColor;
    background-color: $myLightBlueColor;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  submit {
    width: 46%;
  }

  .cancelbtn {
    float: right;
    width: 46%;
    padding: 10px 18px;
    background-color: $myRedColor;
    color: white;
  }

  .cancelbtn:hover {
    background-color: $myRedColor;
    opacity: 0.8;
  }

  #delete .container {
    text-align: center;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  .modal {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
  }

  .modal-content {
    max-width: fit-content;
    background-color: #fefefe;
    margin: 0 auto;
    border: 1px solid #888;
  }

  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  .content {
    margin: 30px;
  }
}



@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}


#ch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: auto;
}

.Spinners {
  min-height: 100px;
  min-width: 100px;
  display: flex;
  justify-content: center;
}
